html {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
}
h1 {
   font-size: 32px;
   font-weight: 400;
   margin: 10px 10px;
   text-transform: uppercase;
}
h2 {
   font-size: 24px;
   font-weight: 500;
   text-transform: uppercase;
   margin-left: 20px;
   margin-bottom: 5px;
}
h3 {
   font-size: 16px;
   font-weight: 400;
   margin-left: 20px;

}
ul {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   list-style:none;
   padding: 0;
}
li {
   text-transform: lowercase;
   list-style-type: none;
  
}
a {
   color: rgb(42, 44, 42);

}
.main_wrapper {
   max-width: 1200px;
    margin: 20px auto;
    border-radius: 20px;
}
/*```````````````````````` HEADER``````````````````````````*/
.nav { /*О, круто, задаем область для всех дочерних элементов 100% - круто!!!!!, но nav - не корневой тэг, у него есть родитель, стоит проверить какая ширина у него*/
   display: flex; 
   align-items: center;
   padding: 0;
   margin: 0;
   width: 70%;
   justify-content: flex-end;
}
.menu-bar {
   height: 100%;
   width: 100%;
   padding: 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.self_img {
   display: flex;
   width: 100%;
   flex-wrap: nowrap;
   align-content: flex-end;
   justify-content: center; 
}
.avatar {
   width: 300px;
   height: 290px;
   border-radius: 50%;
}
.self_name {
   display: flex;
   width: 70%;
   flex-direction: column;
   padding: 10px;
}
.profile_text {
   display: flex;
   text-align: justify;
}
.about_me_text {
   font-family: 'Montserrat', sans-serif;
   margin: 16px 0px 0px 0px; 
}
.header, /*ШИРИНАААА??????????????????????*/
.self,
.main_container {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: flex-end;
   
}
.section_left {
   display: flex;
   flex-direction: column;
   width: 30%;
  
}
.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.about_me,
.contacts,
.skills,
.code,
.experience,
.education,
.english {
   display: flex;
   flex-direction: column;
   background-color: #9fc4b7 !important;
   border-radius: 5px;
   margin: 5px;
}
.contact_info {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   list-style:none;
   margin-block-start: 0;
   margin-block-end: 0;
   padding: 0;
}
.li_contacts {
   display: flex;
   align-items: center;
   padding: 5px;
}
.contacts_img {
   height: 20px;
   width: 20px;
   margin: 0px 5px 0px 5px;
}
.contacts_text {
   font-size: 14px;
   font-weight: 600;
   margin: 10px 10px;
   color: rgb(82, 96, 96);
   text-transform: none; 
}
.section_right {
   display: flex;
   flex-direction: column;
   width: 70%;
   justify-content: space-between;
}
.header_list{
   display:flex;
   width: 100%;
   justify-content: space-evenly;
   flex-direction: row;
   justify-content: space-between;
}
.skills_item {
   display:flex;
   justify-content: space-evenly;
   flex-direction: row;
   margin-top: 15px;
}
.skills_img {
   height: 80px;
   width: 80px;
}
.element {
   display:flex;
   justify-content: space-around;
   text-transform:lowercase;
   font-weight: 600;
   margin: 10px 30px;
}
.skills_text {
   display:flex;
   justify-content: space-around;
   text-transform:uppercase;
   font-weight: 600;
}
.code_text {
   display: flex;
   margin: 0px 0px;
   flex-direction: column;
}
.cv_project {
   text-transform: none !important;
   font-size: 16px;
   font-weight: 400;
   margin: 16px 0px 16px 20px;
   list-style: disc !important;
}
.footer {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}
.year {
   font-size: 24px;
   font-weight: 400;
   margin: 10px 2px;
}
.github,
.rs_school {
   margin: 15px 40px;
}
.github_logo {
   display: flex;
   width: 43px;
   height: 43px;
}


.rs_logo {
   width: 100px;

}

